[submodule "OpenModsLib"]
	path = OpenModsLib
	url = https://github.com/OpenMods/OpenModsLib.git
[submodule "OpenPeripheral"]
	path = OpenPeripheral
	url = https://github.com/OpenMods/OpenPeripheral.git
